body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.custom-header {
    background-color: #F4D06F;
    width: 1440px;
    height: 166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.custom-menu {
    background-color: #7B7491;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 92px;
    left: 497px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.game-profile {
    padding: 20px;
}

.profile-details {
    display: flex;
    align-items: center;
}

.profile-details img {
    max-width: 100%;
}

.text-details {
    margin-left: 20px;
}

.provider,
.added-date {
    font-size: 14px;
    margin: 0;
    color: #666;
}

.game-description {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 10px 20px;
}
