/* "Parim pärast uusarendust" sektsioon */
.section-renovation {
  display: flex;
  align-items: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.image-container img {
  max-width: 100%;
  border-radius: 8px;
}

.text-container {
  margin-left: 20px;
  max-width: 600px;
}

.section-renovation h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section-renovation ul {
  list-style: disc inside;
  margin: 0;
  padding: 0;
}

.section-renovation li {
  margin-bottom: 10px;
  font-size: 1rem;
}

/* "Scandi.ee korterite eelised" sektsioon */
.section-benefits {
  text-align: center;
  padding: 50px 20px;
  background-color: #fef6ee;
}

.section-benefits h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.benefits-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.benefit {
  max-width: 300px;
  text-align: left;
}

.benefit img {
  display: block;
  margin: 0 auto 20px;
}

.benefit h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.benefit ul {
  list-style: disc inside;
}

.benefit li {
  margin-bottom: 10px;
  font-size: 0.9rem;
}
